#main{
    border:1px red solid;
    width:800px;
    height:800px;
    display:flex;
    flex-direction: column;
}

.row{
    width:800px;
    height:100px;
    display:flex;
    flex-direction: row;
}

.box{
    background:rgb(0, 160, 0);
    width:100px;
    height:100px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 50px;
}

.b{
    background:rgb(82 248 17);;
}

.show{
    background:rgb(179, 177, 69);
}

.show.b{
    background:rgb(233, 230, 91);
}